header {
  position: relative;
  height: 500px;
  background-color: #1b98e0;
}

/* Navigation bar, FIXED */
.landing-page {
  height: 100vh;
}

nav {
  position: fixed;
  height: 7vh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  background: #1b98e0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.logo {
  letter-spacing: 2px;
  cursor: pointer;
  color: #13293d;
}

.nav-links li {
  list-style-type: none;
}

.nav-links .nav-link {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #13293d;
}

.nav-links .nav-link:hover {
  color: #204669;
}

.active {
  background: #13293d;
  padding: 5px 17px 2px;
  border-radius: 5px;
  transition: 0.3s;
}

.active:hover {
  transform: scale(1.05);
  background-color: #13293d;
}

.active a {
  color: #1b98e0;
  transition: 0.2s;
}
.active a:hover {
  color: #abd5ee;
}

/* All content goes here */
.main-content {
  display: flex;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 50px;
  width: 75%;
  background-color: #f4f4f4;
  height: 550px;
  box-shadow: -7px 7px 20px rgba(0, 0, 0, 0.3);
}

.content {
  width: 600px;
  height: 100%;
}

.content h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  padding-top: 40px;
  color: #13293d;
  font-size: 85px;
  line-height: 1em;
}

.content .web {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 95px;
  color: #1b98e0;
}

.content p {
  margin: 20px 0 20px 0;
  font-size: 20px;
  color: #13293d;
}

.content a {
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  line-height: normal;
}

.fa-arrow-right {
  cursor: pointer;
  transition: 1s;
}

.fa-arrow-right:hover {
  transform: translateX(10px);
}

.img-container {
  padding-bottom: 80px;
  margin-left: auto;
  display: flex;
  width: 500px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ctn {
  border-radius: 5px;
  background: #1b98e0;
  display: inline-flex;
  padding: 10px 20px 8px;
}

.cta a {
  font-family: "Roboto", sans-serif;
}

img {
  animation: svg_slide 1s forwards;
}

@keyframes svg_slide {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-page {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
}

.about-page h1 {
  display: inline-flex;
  color: #13293d;
  font-size: 54px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 5px solid #1b98e0;
}
.about-page h2 {
  margin-left: 10px;
  font-size: 34px;
  color: #1b98e0;
}

.about-page h3 {
  font-size: 24px;
  color: #1b98e0;
}

.image-container {
  margin: 40px auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projects-page {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
}

.projects-page h1 {
  display: inline-flex;
  color: #13293d;
  font-size: 54px;
  padding: 10px;
  border-bottom: 5px solid #1b98e0;
}

.projects-page h2 {
  display: inline-flex;
  color: #13293d;
  font-size: 24px;
  margin: 0 15px;
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-container img {
  padding: 15px;
  width: 100%;
  max-width: 300px;
  height: 200px;
}

.projects-container p {
  font-size: 16px;
  padding: 0 15px;
}

.projects-container a {
  background: #1b98e0;
  border-radius: 3px;
  color: #13293d;
  margin: 0 15px;
  padding: 7px 10px 5px;
}
.projects-container a:hover {
  background: #91d1f7;
}

footer {
  padding: 20px;
  width: 100%;
  height: 30vh;
  background: #333;
  text-align: center;
}

footer h2 {
  font-size: 38px;
  text-align: center;
  color: #1b98e0;
}

footer h3 {
  margin-top: 48px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
}

footer .social-medias {
  width: 200px;
  margin: 12px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .fab {
  font-size: 44px;
}

.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #1da1f2;
}
.fa-github-square {
  color: #211f1f;
}

/* contact form onclick will popup */
.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.5);
  display: none;
}
.contact-form div {
  padding: 100px 30px;
}

.contact-form .fa-times {
  position: absolute;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
}

.contact-form h2 {
  font-size: 34px;
  text-align: center;
}

.contact-form input {
  height: 34px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 0 10px;
}

.contact-form button {
  width: 100%;
  height: 40px;
  background: #1b98e0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

.contact-form button:hover {
  background: #1da1f2;
}

.contact-form .fab {
  padding: 10px 0;
  font-size: 34px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.fa-facebook {
  color: #4267b2;
}
.fa-twitter {
  color: #1da1f2;
}
