@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  outline: none;
}

body,
html {
  position: relative;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background: #f4f4f4;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #13293d;
}

li {
  list-style: none;
}

p {
  font-family: "Roboto";
  font-size: 18px;
  margin-bottom: 30px;
}

.about-page p {
  padding: 10px 20px;
  word-spacing: 2px;
}
/* Icons design */
.fab {
  font-size: 85px;
}
.image-container .fa-html5 {
  color: red;
}
.image-container .fa-css3-alt {
  color: blue;
}
.image-container .fa-js {
  color: yellow;
}
.image-container .fa-git-alt {
  color: rgb(253, 94, 31);
}

header {
  position: relative;
  height: 500px;
  background-color: #1b98e0;
}

/* Navigation bar, FIXED */
.landing-page {
  height: 100vh;
}

nav {
  position: fixed;
  height: 7vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  background: #1b98e0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.logo {
  letter-spacing: 2px;
  font-size: 28px;
  cursor: pointer;
  color: #13293d;
}

.nav-links li {
  list-style-type: none;
}

.nav-links .nav-link {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #13293d;
}

.nav-links .nav-link:hover {
  color: #204669;
}

.active {
  background: #13293d;
  padding: 5px 17px 2px;
  border-radius: 5px;
  transition: 0.3s;
}

.active:hover {
  transform: scale(1.05);
  background-color: #13293d;
}

.active a {
  color: #1b98e0;
  transition: 0.2s;
}
.active a:hover {
  color: #abd5ee;
}

.menu-bar {
  display: none;
  cursor: pointer;
}

.menu-bar div {
  height: 3px;
  width: 23px;
  background: #333;
  border-radius: 3px;
  margin: 3px;
}

/* All content goes here */
.main-content {
  display: flex;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 50px;
  width: 75%;
  background-color: #f4f4f4;
  height: 550px;
  box-shadow: -7px 7px 20px rgba(0, 0, 0, 0.3);
}

.content {
  width: 600px;
  height: 100%;
}

.content h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  padding-top: 40px;
  color: #13293d;
  font-size: 85px;
  line-height: 1em;
}

.content .web {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 95px;
  color: #1b98e0;
}

.content p {
  margin: 20px 0 20px 0;
  font-size: 20px;
  color: #13293d;
}

.content a {
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  line-height: normal;
}

.fa-arrow-right {
  cursor: pointer;
  transition: 1s;
}

.fa-arrow-right:hover {
  transform: translateX(10px);
}

.img-container {
  margin-left: auto;
  display: flex;
  width: 500px;
  z-index: -1;
  right: 0;
  justify-content: center;
  align-items: center;
}

.ctn {
  border-radius: 5px;
  background: #1b98e0;
  display: inline-flex;
  padding: 10px 20px 8px;
}

.cta a {
  font-family: "Roboto", sans-serif;
}

.img-container img {
  animation: svg_slide 1s forwards;
}

@keyframes svg_slide {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-page {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
}

.about-page h1 {
  display: inline-flex;
  color: #13293d;
  font-size: 54px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 5px solid #1b98e0;
}

.about-page h2 {
  margin-left: 10px;
  font-size: 34px;
  color: #1b98e0;
}

.about-page h3 {
  font-family: "Roboto";
  font-size: 24px;
  color: #13293d;
  margin: 5px 15px;
}

.image-container i h3 {
  font-size: 24px;
  margin: 0 auto;
  text-align: left;
  color: #1b98e0;
}

.image-container {
  margin: 30px auto;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.image-container i {
  font-size: 54px;
}

.projects-page {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.projects-page h1 {
  display: inline-flex;
  color: #13293d;
  font-size: 54px;
  padding: 10px;
  border-bottom: 5px solid #1b98e0;
}

.projects-page h2 {
  display: inline-flex;
  color: #13293d;
  font-size: 24px;
  margin: 0 15px;
}

.image-container h3 {
  font-family: "Bebas Neue";
}

.projects-container {
  position: relative;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.projects-container div {
  width: 268px;
  height: 368px;
}

.projects-container img {
  padding: 15px;
  width: 400px;
  max-width: 300px;
  height: 200px;
}

.projects-container p {
  font-size: 16px;
  padding: 0 15px;
}

.projects-container a {
  background: #1b98e0;
  border-radius: 3px;
  color: #13293d;
  margin: 0 15px;
  padding: 7px 10px 5px;
}
.projects-container a:hover {
  background: #91d1f7;
}

footer {
  padding: 20px;
  width: 100%;
  background: #333;
  text-align: center;
}

footer h2 {
  font-size: 38px;
  text-align: center;
  color: #1b98e0;
}

footer h3 {
  margin-top: 48px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
}

footer .social-medias {
  width: 200px;
  margin: 12px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .fab {
  font-size: 44px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-github-square {
  color: #211f1f;
}

/* contact form onclick will popup */
.contact-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.5);
  display: none;
}

.show-contact-form {
  display: block;
}

.contact-form div {
  padding: 100px 30px;
}

.contact-form .fa-times {
  position: absolute;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
}

.contact-form h2 {
  font-size: 34px;
  text-align: center;
}

.contact-form input {
  height: 34px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 0 10px;
}

.contact-form button {
  width: 100%;
  height: 40px;
  background: #1b98e0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

.contact-form button:hover {
  background: #1da1f2;
}

.contact-form .fab {
  padding: 10px 0;
  font-size: 34px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.fa-facebook {
  color: #4267b2;
}
.fa-twitter {
  color: #1da1f2;
}

@media screen and (max-width: 1400px) {
  .content h1 {
    font-size: 70px;
  }
  .content .web {
    font-size: 75px;
  }
  .projects-page {
    height: 120vh;
  }
}

@media screen and (max-width: 1240px) {
  .nav-links {
    width: 40%;
  }
  .main-content {
    width: 90%;
  }
  .projects-page {
    height: 130vh;
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .nav-links {
    width: 50%;
  }
  .main-content {
    top: 200px;
    height: 450px;
  }
  .content h1 {
    font-size: 60px;
  }
  .content .web {
    font-size: 55px;
  }
  .img-container {
    width: 400px;
  }
  .img-container img {
    width: 450px;
    height: 450px;
  }
  .content {
    width: 700px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 0 50px;
  }
  .nav-links {
    width: 60%;
  }
  .main-content {
    top: 200px;
    height: 450px;
  }
  .img-container img {
    width: 350px;
    height: 350px;
  }
  .content {
    width: 800px;
  }

  .projects-container div {
    width: 368px;
    height: 468px;
  }
}

@media screen and (max-width: 835px) {
  .projects-container div {
    width: 328px;
  }
}

@media screen and (max-width: 778px) {
  .main-content {
    display: block;
    top: 200px;
    height: 500px;
  }

  .content {
    width: 100%;
  }

  .content h1 {
    font-size: 70px;
  }

  .content .web {
    font-size: 75px;
  }

  .img-container {
    display: none;
  }

  .projects-container div {
    width: 288px;
    height: 378px;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 665px) {
  .projects-container {
    margin-top: 2rem;
    border: 5px solid #1b98e0;
    border-radius: 5px;
    padding: 0.8rem 0.3rem;
    align-items: center;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0 10px;
  }

  .logo {
    font-size: 24px;
  }

  footer h2 {
    font-size: 24px;
  }

  footer h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 578px) {
  .landing-page {
    height: 100vh;
  }

  nav {
    padding: 0 20px;
  }

  .logo {
    font-size: 22px;
  }

  .menu-bar {
    display: block;
  }

  .nav-links {
    position: fixed;
    display: none;
    top: 7vh;
    left: 0;
    width: 100%;
    background: #1b98e0;
    padding: 50px;
  }
  /* 
  .show-nav-links {
    height: 20em;
    display: block;
  } */

  .nav-links li {
    text-align: center;
    margin-bottom: 20px;
  }

  .main-content {
    top: 150px;
    padding: 20px 40px;
  }

  .content h1 {
    padding-top: 20px;
    font-size: 70px;
  }

  .content .web {
    font-size: 75px;
  }

  .content p {
    font-size: 16px;
  }

  .projects-container {
    justify-content: flex-start;
  }

  .about-page {
    width: 100%;
  }

  .fab {
    font-size: 50px;
  }
  .image-container h3 {
    font-size: 16px;
  }

  .contact-form {
    width: 300px;
    height: 400px;
  }

  .contact-form div {
    padding: 50px 10px 40px;
  }
}

@media screen and (max-width: 578px) {
  nav.responsive .nav-links {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .main-content {
    height: 560px;
    padding: 0px 20px;
  }

  .content h1 {
    font-size: 75px;
  }

  .content .web {
    font-size: 80px;
  }
}

@media screen and (max-width: 450px) {
  .main-content {
    top: 120px;
    height: 550px;
  }

  .content h1 {
    font-size: 65px;
  }

  .content .web {
    font-size: 75px;
  }

  .about-page h1,
  .projects-page h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 400px) {
  .content h1 {
    font-size: 60px;
  }

  .content .web {
    font-size: 65px;
  }
}

@media screen and (max-width: 320px) {
  .content h1 {
    font-size: 50px;
  }

  .content .web {
    font-size: 55px;
  }

  .about-page h1 {
    font-size: 3em;
  }
}
